@import 'reset.css';

*:focus{
    outline: 0;
}
:root{
  --preto: #404449;  
  --azul-claro: #CADEFE;
  --azul-principal: #488EFE;
  --cinza-claro: #FAFAFA;

}
html{
    font-size: 16px;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
}

body {
    color: var(--preto);

}

h2{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}
h3{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
}

a{
    text-decoration: none;
    color: unset;
}

p{
    line-height: 1.2rem;
    font-size: 1rem;
}

input{

    padding: 10px;
    /* opacity: .2; */
    margin: 0;
    background-color: #00000028;
    border: 0;
    
}

button{
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1rem;
}
#wrapper-assistente{
    display: none;
}
.assistente_de_foco{
    color: #c9c9c9;
    background-color: var(--preto);
    width: 20rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    padding: 25px;
    margin: 75px 30px;

}
.lista_de_tarefas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.lista_de_tarefas > input{
    flex-grow: 1;
}
.lista_de_tarefas > ul{
    border: 2px solid #66666600;
    flex-basis: 100%;
    width: 100%;
    
    background-color: #00000017;
}
.lista_de_tarefas > ul > li,
.lista > ul > li
{
    position: relative;
    margin: 5px;
    padding: 10px 0;
    border-bottom: 1px solid;
    /* background-color: #488EFE; */
}

.lista i{
    display: none;
}

#adicionar_tarefa{
    background-color: var(--azul-principal);
    border: 0;
    padding: 0 10px;
    color: var(--cinza-claro);
}

.lista_de_tarefas > ul > li:last-of-type{
   
    border-bottom: 0;
    /* background-color: #488EFE; */
}
.assistente_de_foco
h3{
    color: var(--cinza-claro);
}
.assistente_de_foco
input{
    
    color: var(--cinza-claro);
}
.assistente_de_foco
.remover_tarefa{
    position: absolute;
    right: 0;
    cursor: pointer;
    /* padding: 0px 5px; */
    /* border: 0; */
    /* border-radius: 5px; */
}

.objetivos{
    margin-bottom: 15px;
}
.objetivos > *{
    margin: 20px 0;
}
.tempo > *{
    margin: 20px 0;
}

.tempo > button{
    padding: 8px 25px;
    background-color: var(--azul-principal);
    color: var(--cinza-claro);
    

    border-radius: 50px;
    border: 0;
}
#input_tempo{
    width: 60px;
    margin-right: 10px;
}
#assistente{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding: 12px 25px;
    border-radius: 50px;
    border: 0;
    margin: 25px;
    background-color: var(--preto);
    color: var(--cinza-claro);
    font-size: 16px;
    right: 0;
}

@media only screen and (max-width: 600px){
    html{
        font-size: 13px;
    }
}

.area_tempo_restante{
    /* width: 100%; */
    background-color: #00000017;
    padding: 25px;
    margin: 20px 0;
    text-align: center;
}
#tempoConfigurado{
    opacity: .2;
}

.executando{
    display: none;
}

/* 
.configuracao{
    display: none;
} */